* {
    font-family: 'Mukta', sans-serif;;

}

a:hover {
    text-decoration: none;
}

.container {
    width: 450px;
    height: 480px;
    margin: 30px auto 0 auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

input[type="text"], input[type="password"]{
    width: 370px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 5px;
    border-color: #576bcd;
    cursor: pointer;
    padding: 10px;
}

input[type="checkbox"]{
    cursor: pointer;
}

button {
    background: #576bcd;
    color: #fff;
    width: 380px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

form {
    text-align: center;
    padding: 30px;
}

.grop1 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 19px;
}

.pass {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 19px;
}

.grop2 {
    margin: 180px auto 0 auto;
    text-align: center;
    font-size: 35px;
    color: #576bcd;
    font-weight: bold;
}

.grop3 {
    text-align: center;
    margin: 40px auto 0 auto;
}
a {
    color: #6454cc;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

